div.scrollable-container {
  display: flex;
  width: 100%;
  height: 400px;
  
}

div.scrollable-container-column {
  display: table-cell;
  margin-left: 55px;
  width: 100px;
  height: 400px;
  background-color: rgb(124, 122, 122);
  
}

div.scrollable-column {
  width: 100px;
  height: 250px;
  overflow: hidden;
  position: relative;
  background-color: rgb(124, 122, 122);
}

div.scrollable-column-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
  background-color: rgb(124, 122, 122);
}

.selection-menu {
  width:  100px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  border: none;
  font-size: 16px;
  background-color: rgb(124, 122, 122);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  list-style-type: none; 
}

label.selection-heading {
  width:  100px;
  height: 40px;
  text-decoration: none;
  margin-left: 15px;
  border: none;
  font-size: 16px;
  background-color: rgb(124, 122, 122);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}
.selection-menu:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
